
<div id="header" >
    <div id="nav-bar" class="general-block">
        <!--LOGO-->
        <div id="logo">
            <img src="img/logo and text-white-small.png" />
        </div> <!--END LOGO-->

        <!--MENU-->
        <ul id="menu">
            <li style="font-weight: 700;"><a class="menu-option" href="/">Trang chủ</a></li>
            <li>
                <a style=" line-height: 80px;"class="menu-option" href="">Sản phẩm</a>
                <i class="ti-angle-down dropdown-icon" ></i>
                <ul class="sub-menu"  >
                    <li><a class="menu-option" href="./products.html">Có mẫu sẵn</a></li>
                    <li><a class="menu-option" href="#">Theo yêu cầu</a></li>
                </ul>
            </li>
            <li><a class="menu-option" href="./IntroduceAndPolicy.html">Giới thiệu</a></li>
            <li><a class="menu-option" href="./News.html">Tin tức</a></li>
        </ul> <!--END M ENU-->  
        <script>
            function toSearch() {
                window.location.href= `http://localhost:3001/search?query_search=${document.querySelector("#search-box").value}`
            }
        </script>
        <!--SEARCH-->
        <div id="search">
            <input type="search" name="q" id="search-box" placeholder="Tìm kiếm..." />
            <button onclick="toSearch()" id="djslkjdalksas" type="submit" style="background-color: #2e2e2e; border: none">
                <i class="ti-search search-icon"></i>
            </button>
        </div> <!--END SEARCH-->

        <!--USER ACCOUNT-->
        <script>
            const getProfileUser= async ()=> {
                const res= await axios({
                    url: "http://localhost:3001/api/v1/user/profile",
                    method: "post",
                    data: {
                        id_user: Cookies.get("uid")
                    },
                    responseType: "json"
                })
                const result= await res.data
                if(result?.length > 0) {
                    document.querySelector(".fodkfdfseda").innerHTML= result[0].name
                    document.querySelector(".jdipdjipsdjasad").innerHTML= "Logout"
                }
                else {
                    document.querySelector(".jdipdjipsdjasad").innerHTML= ""
                }
            }
            getProfileUser()
            const toProfile= ()=> {
                window.location.href= `http://localhost:3001/profile/${Cookies.get("uid")}`
            }
            const logOut= ()=> {
                Cookies.remove("uid", {  path: ""})
                window.location.reload()
            }
        </script>
        <style>
            #user-account {
                display: flex !important;
            }
        </style>
        <div id="user-account">
            <div id="user-avatar" style="background-image: url('https://noithatthucung.com/wp-content/uploads/2019/12/img_20190630_092756-300x300.png')"> </div>
            <div>
                <a class="menu-option" href="/user/cart"><i class="icon ti-shopping-cart"></i></a>
            </div>
            <div>
                <a class="menu-option" href="#"><i class="icon ti-close"></i></a>
            </div>  
            <div onclick="toProfile()" style="margin-left: 100px;" class="fodkfdfseda"></div>
            <div style="margin-left: 16px;"><button class="jdipdjipsdjasad" onclick="logOut()"></button></div>
        </div> <!--END USER ACCOUNT-->
                
    </div> <!--END NAV-BAR -->
</div> <!--END HEADER-->
        
