<form style="color: #fff" method="POST" action="/admin">

<div class="mb-3">
  <label for="name" class="form-label">tên sản phẩm</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="nha cho cho">
</div>

<div class="mb-3">
  <label for="product_id" class="form-label">mã sản phẩm</label>
  <input type="text" class="form-control" id="product_id" name="product_id"placeholder="dh0125">
</div>

<div class="mb-3">
  <label for="price" class="form-label">giá</label>
  <input type="number" class="form-control" id="price" name="price" placeholder="125 000">
</div>

<div class="mb-3">
  <label for="image" class="form-label">link ảnh</label>
  <input type="text" class="form-control" id="image" name="image"placeholder="125 000">
</div>

<div class="mb-3">
  <label for="description" class="form-label">Mô tả</label>
  <input class="form-control" id="description" name="description" rows="3"></input>
</div>

<button type="submit" class="btn btn-primary">Thêm</button>
</form>