<style>
    .fdkokopwakwopewe {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        }
    html {
        height: 100vh !important;
    }
    .kokfdlsdasdsd {
        text-decoration: none;
        color: #fff;
        width: 100%;
        height: 100%;
    }
</style>
<script>
    const getDetailProduct= async ()=> {
        const res= await axios({
        url: "http://localhost:3001/api/v1/get/cart/user",
        method: "post",
        data: {
          id_user: Cookies.get("uid")
        }
        }) 
        const result= await res.data
        document.querySelector(".fdkokopwakwopewe").innerHTML= result?.map(item=> `
        <div class="djfjiorjawrieqwwwarer">
            <img class="dfrjfgsjrwegjrwgfkw" src=${item.photo} alt="">
            </div>
            <div>
                <div style="font-size: 24px; font-weight: 600">
                    ${item.title}
                </div>
                <div>
                    Giá tiền: ${item.cost}đ
                </div>
                <br>
                <div style="padding: 12px 24px; background-color: orange; border-radius: 10px; cursor: pointer">
                  <a class="kokfdlsdasdsd" href="http://localhost:3001/payment/${item.id_product}">Thanh toán</a>
                </div>
            </div>
        `
    )}
    getDetailProduct()
    
</script>
<div class="fdkokopwakwopewe">
    
</div>