<form action="/action_page.php">
  <label for="img">CHọn ảnh:</label>
  <input type="file" id="img" name="img" accept="image/*">
</form>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">tên khách hàng</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nguyen van a">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="abs@gmail.com">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">só điện thoại</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="0123 456 789">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">địa chỉ</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="125 000">
</div>

<select class="form-select" aria-label="Default select example">
  <option tên ngân hàng</option>
  <option value="1">vietinbank</option>
  <option value="2">techcombank</option>
  <option value="3">agribank</option>
</select>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">số tài khoản ngân hàng</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="125 000">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">tên đăng nhập</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nguyenana">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">mật khẩu</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="adepzai">
</div>

<button>
  <a href="http://localhost:3001">Cập nhật</a>
</button>