<div>
  <script>
    async function getPasswordAgain() { const res= await axios({ url:
    "http://localhost:3001/api/v1/forget/password", method: "post", data: {
    email: document.querySelector("#fafdasdsaasasas").value, id_user:
    Cookies.get("uid") } }) const result= await res.data return
    window.location.href= "http://localhost:3001/login" }
  </script>
  <div style="font-size: 32px; font-weight: 600; margin-bottom: 8px">Pet 's rank</div>
  Nhập email:
  <input id="fafdasdsaasasas" type="text" />
  <button onclick="getPasswordAgain()">Gửi</button>

</div>