<div>
    <script>
        async function resultSearch() {
            const res= await axios({
                url: "http://localhost:3001/api/v1/get/search",
                method: "get", 
                params: {
                    query_search: Object.fromEntries(new URLSearchParams(window.location.search).entries()).query_search
                },
                responseType: "json",
            })
            const result= await res.data
            if(result.length> 0) {

                document.querySelector("#available-products").innerHTML= `
                    <div id="content3" class="title">
                        Sản phẩm
                    </div>
                    <br />
                    <div class="fkwkfdgrkeesd">
                        ${result?.map((item, key)=> `
                        <div data-id="${item.id_product}" class="fegerhfretgfg" id="${item.id_product}">
                        
                            <a href="/product/${item.id_product}">
                                <div class="feterqergrdg" id="bldsssdsog${parseInt(key) + 1}-image" style="background-image: url(${item.photo})"></div>
                            </a>
                            <div class="d8tguooeoiodsiods">
                                ${item.title}
                            </div>
                            <div class="guierjoiajrawoe">
                                ${item.cost}đ
                            </div>
                            <div class="jiertjgioerporeaew">
                                <div class="kdsksasSdl" onclick="cart('${item.id_product}')">Mua</div>
                            </div>
                            
                        </div>
                        `)}
                    </div>
                    `
                }
                else {
                    document.querySelector("#available-products").innerHTML= "Không tìm thấy sản phẩm yêu cầu"
                }
            }
        resultSearch()
    </script>
    <div id="available-products"></div>
</div>